@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Oxygen:wght@300;400;700&display=swap");

html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.oxygen {
  font-family: "Oxygen", sans-serif;
}

.oswald {
  font-family: "Oswald", sans-serif;
}

.custom-gradient {
  background-image: linear-gradient(
    to bottom right,
    #7a96ac,
    #eaeff3,
    #c2d4e1,
    #ffffff,
    #d4dee5,
    #abbdc8,
    #bccad7
  );
}
